.multimonitor-bg {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    margin-bottom: 0.682rem;
    background-color: $layer0;
    padding: 1.364rem;
}

.multimonitor-closebtn {
    @include element_decel;
    @include full-rounding;
    min-width: 2.386rem;
    min-height: 2.386rem;
}

.multimonitor-updatebtn {
    @include element_decel;
    border-radius: 0.409rem;
    min-width: 10rem;
    min-height: 10rem;
    background-color: $layer0Hover;
    margin: 1rem;
}

.multimonitor-closebtn:hover,
.multimonitor-closebtn:focus {
    background-color: $layer0Hover;
}

.multimonitor-closebtn:active {
    background-color: $layer0Active;
}

.multimonitor-title {
    color: $cheatsheetTitle;
}

// .multimonitor-bind-lineheight {
//     min-height: 2.045rem;
// }

.multimonitor-key {
    @include techfont;
    min-height: 1.364rem;
    min-width: 1.364rem;
    margin: 0.17rem;
    padding: 0.136rem 0.205rem;
    -gtk-outline-radius: 0.409rem;
    color: $cheatsheetTitle;
    border-radius: 0.409rem;
    border: 0.068rem solid $cheatsheetTitle;
    box-shadow: 0rem 0.136rem 0rem $cheatsheetTitle;
}

.multimonitor-key-notkey {
    min-height: 1.364rem;
    padding: 0.136rem 0.205rem;
    margin: 0.17rem;
    color: $onLayer0;
}