$darkmode: true;
$primary: #4cdad9;
$onPrimary: #003737;
$primaryContainer: #005050;
$onPrimaryContainer: #6ff6f5;
$secondary: #b0cccb;
$onSecondary: #1b3534;
$secondaryContainer: #324b4b;
$onSecondaryContainer: #cce8e7;
$tertiary: #b3c8e8;
$onTertiary: #1c314b;
$tertiaryContainer: #334863;
$onTertiaryContainer: #d2e4ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1010;
$background: #0F1010;
$onBackground: #e0e3e2;
$surface: #191c1c;
$onSurface: #e0e3e2;
$surfaceVariant: #3f4848;
$onSurfaceVariant: #bec9c8;
$outline: #889392;
$shadow: #000000;
$inverseSurface: #e0e3e2;
$inverseOnSurface: #2e3131;
$inversePrimary: #006a6a;
